body {
	margin-left: 100px;
	border: groove 10px gray ;
	padding: 50px ;
}

body > div {
	display: inline-block;
}
#left, #center, #right {
	border: solid 2px gray;
}

#left {
	 ;
}

#center {

}

#right {

}